		<div class="container">
			<h1>Contact Book</h1>
			<div class="contact">

				<div class="right-w3">
					<p class="para">Designed to store your contacts into a space.</p>
					<p>Give us the Cell Number,</p>
					<p>The Email</p>
					<p>The Contact's Name.</p>
					<p>And We'll save it for you!</p>
					<h2>Contact Book<br/> A Storage for your contacts.</h2>
				</div>
				<form action="/login" method="get">
					<div class="left">
						<div class="email">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input type="text" name="username" class="email" placeholder="Enter Your Login Email" required="">
						</div>
						<div class="phone">
							<i class="fa fa-key" aria-hidden="true"></i>
							<input type="password" name="password" class="phone" placeholder="Enter Your Password" required="">
						</div>
						<center><input type="submit" value="Log me In!"><br/>
						<p>New User <a href = "/reg">Register Here!</a></p></center>
					</div>
				</form>
				<div class="clear"></div>
				<div class="clear"></div>
				{{!--<div class="right-w3">
					<h2>Everybody needs Options here are some of yours!</h2>
					<button type = "button" onclick="window.location='http://localhost:8081/contacts'">View Data</button>
					<br/><button type = "button" onclick="window.location='delete.html'">Remove a contact</button>
					<br/><button type = "button" onclick="window.location='update.html'">Update a contact</button>
				</div>--}}

				<div class="clear"></div>
			</div>