			<form action="/register" method="GET">
					<div class="left">
						<div class="name">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input type="text" name="name" class="name" placeholder="Tell us your Full Name" required="">
						</div>
						<div class="email">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input type="email" name="email" class="email" placeholder="What's your Email?'" required="">
						</div>
						<div class="phone">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<input type="number" name="mobile" class="phone" placeholder="Tell us your Mobile number" required="">
						</div>						<div class="phone">
							<i class="fa fa-key" aria-hidden="true"></i>
							<input type="password" name="pwd" class="phone" placeholder="Choose a Strong Password" required="">
						</div>
						<div class="phone">
							<i class="fa fa-key" aria-hidden="true"></i>
							<input type="password" name="cpwd" class="phone" placeholder="Confirm Your Password" required="">
						</div>
						<input type="submit" value="Register">
						<p>New User <a href = "http://localhost:8081/in">Log In!</a></p>

					</div>
				</form>