<p class="para">New Entry? Well here it is!</p>
    <p>Contact Name = {{name}},</p>
    <p> Contact Email = {{email}} </p>
    <p>Contact Mobile = {{mobile}} </p>
<h2>Wow That's like what you entered!</h2>
<p>If page Doesn't redirect we can always <a href = "/">Go back!</a></p>
